.container {
  width: 50%;
}

.container ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 0;
}

.container a, .container p {
  font-size: 1.25rem;
  color: #d4efff;
  text-decoration: none;
  background-color: #383a3f;
  padding: 0.5rem;
  border-radius: 16px;
}

.container li {
  margin: 0.5rem;
  padding: 0.5rem;
}
