html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #434e6f;
  font-family: Lucida Sans Typewriter, Lucida Typewriter, monospace; 
}

header {
  flex-shrink: 0;
  padding: 0.5rem 0;
  z-index: 1;
  background: #202020;
}

nav {
  display: flex;
}

nav .nameContainer {
  margin-right: 1rem;
  padding: 0rem 1rem;
  text-decoration: none;
  background-color: #BBB;
  border-radius: 25px;
  margin-left: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.container h1 {
  font-size: 3rem;
  margin: 0;
  color: #8ab8c4;
}

.container p {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #d4efff;
}