nav button {
  margin-right: 1rem;
  padding: 1rem;
  text-decoration: none;
  background-color: #bbb;
  border-radius: 25%;
}

nav button.leftmost {
  margin-left: auto;
}

#hero {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.floatingLink {
  position: absolute;
  border-radius: 25px;
  /* box-shadow: rgba(10, 200, 70, 0.8) 0 0 10px 10px; */
}

.floatingLink a {
  padding: 1vh 2vh 1vh 2vh;
  text-decoration: none;
  color: #000;
}

#planetarium {
  background-color: rgb(10, 200, 70);
  box-shadow: 0 0 10px 10px rgb(10, 200, 70);
}

#contact {
  background-color: rgb(192, 120, 36);
  box-shadow: 0 0 10px 10px rgb(192, 120, 36);
}

#aboutMe {
  background-color: rgb(140, 180, 200);
  box-shadow: 0 0 10px 10px rgb(140, 180, 200);
}

#siteInfo {
  background-color: rgb(230, 30, 160);
  box-shadow: 0 0 10px 10px rgb(230, 30, 160);
}

.revealedArea {
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle 50vh at 50% 50%,
    transparent 10%,
    rgba(0, 0, 0, 0.98)
  );
  pointer-events: none;
}
